<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="annalysis.css">
</head>
<body>
    <div id="main">
       <div id="overall">
        <div id="over_all">
            Over all
        </div>
        <a href="http://127.0.0.1:5500/grad.html"style="text-decoration: none;>
            <button type="button" id="grad"> Grad Annalysis </button>
        </a>
        
       </div>
       <div id="annalysis">
       <h1>Annalysis Marks</h1>
        <div id="annalysis_graph">
            <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/barchart_ver_2.jpg" alt="">
        </div>
       </div>
    </div>
</body>
</html>
