<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="compare.css">
</head>
<body>
    <div id="main">
       <div id="overall">
        <div id="over_all">
            Over all
        </div>
         <h3 style="font-size: 30px; color: rgb(25, 89, 89); margin-top: 150px; " >Compare with:-</h3>
         <label for="names" style="font-size: 25px; font-weight: 400;color:rgb(25, 89, 89) ;">Select a Student:</label>
    <select id="names" name="names" style="height: 35px; width: 350px; margin-top:30px;border-radius: 10px;      background-color: rgb(168, 228, 236); ">
        <option value="john">Souvick</option>
        <option value="emma">Koushik</option>
        <option value="michael">Dipanjan</option>
        <option value="sophia">Indrajit</option>
        <option value="david">Anirban</option>
    </select>
       </div>
       <div id="comparison">
        <upper>
        <h1>Comparison graph:</h1>
        </upper>

        <div id="comparison_graph">
            <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/barchart_ver_2.jpg" alt="">
            
        </div>
       </div>
    </div>

</body>
</html>




