<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="grad.css">
</head>
<body>
    <div id="main">
       <div id="overall">
        <div id="over_all">
            Grad Annalysis
        </div>
 
       </div>
       <div id="annalysis">
       <h1>Annalysis Graph</h1>
        <div id="annalysis_graph">
            <img src="https://images.twinkl.co.uk/tw1n/image/private/t_630/u/ux/barchart_ver_2.jpg" alt="">
        </div>
       </div>
    </div>
</body>
</html>
